*{
    padding: 0;
    margin: 0;

}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}
h2{
    color:#222;
    font-size: 100px;
}
h2 span{
    transition: 0.5s;
}
h2:hover span:nth-child(1){
    margin-right: 10px;
}
h2:hover span:nth-child(2){
    margin-left: 30px;
}
/* 使 ’ 元素较慢的出现*/
h2 span:nth-child(1)::after{
    opacity: 0;
    transition: 2s;
}

h2:hover span:nth-child(1)::after{
    content: "'";
    opacity: 1;
}
h2:hover span{
    color: white;
    text-shadow: 0 0 10px #fff,
                 0 0 30px #fff;
}